-- db/init.sql

-- Create users table if it doesn't exist
CREATE TABLE IF NOT EXISTS public.users (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    email VARCHAR(100) UNIQUE
);

-- Insert test user if not exists
INSERT INTO public.users (id, name, email)
SELECT 1, 'John Doe', 'john@example'
WHERE NOT EXISTS (
    SELECT 1 FROM public.users WHERE id = 1
);
